section#architecture.about
	.container
		.row
			.col-md-12
				.about-us.text-center.mar-bot70
					h2.about-us La arquitectura de 
						span Villa Zeguscua
		.row
			.col-md-6.about-us
				.quote
					.quote-icon
						span.icon.icon-1 
					blockquote
						| La casa principal 
						p
							| La casa principal al estilo “palladiano”, consta de tres pisos con torreón y terrazas cubiertas, gran porche, acogedora sala principal, biblioteca enorme con estudio y pequeño comedor con nevera y cocineta básica integrados.
				.about-gallery
					//- a.example-image-link(href='img/gallery/casa-principal-10.jpg', data-lightbox='casa-principal')
					//- 	img.img-thumbnail(src='img/gallery/thumbnail/casa-principal-10.jpg', alt='Casa principal Villa Zeguscua')
					//- 	span.overlay
					//- a.example-image-link(href='img/gallery/casa-principal-11.jpg', data-lightbox='casa-principal')
					//- 	img.img-thumbnail(src='img/gallery/thumbnail/casa-principal-11.jpg', alt='Casa principal Villa Zeguscua')
					//- 	span.overlay
					a.example-image-link(href='img/gallery/casa-principal-12.jpg', data-lightbox='casa-principal')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-principal-12.jpg', alt='Casa principal Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/casa-principal-13.jpg', data-lightbox='casa-principal')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-principal-13.jpg', alt='Casa principal Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/casa-principal-14.jpg', data-lightbox='casa-principal')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-principal-14.jpg', alt='Casa principal Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/casa-principal-5.jpg', data-lightbox='casa-principal')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-principal-5.jpg', alt='Casa principal Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/casa-principal-6.jpg', data-lightbox='casa-principal')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-principal-6.jpg', alt='Casa principal Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/casa-principal-7.jpg', data-lightbox='casa-principal')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-principal-7.jpg', alt='Casa principal Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/casa-principal-8.jpg', data-lightbox='casa-principal')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-principal-8.jpg', alt='Casa principal Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/casa-principal-9.jpg', data-lightbox='casa-principal')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-principal-9.jpg', alt='Casa principal Villa Zeguscua')
						span.overlay
			.col-md-6.about-us
				.about-gallery.mar-top50
					a.example-image-link(href='img/gallery/casa-principal-0.jpg', data-lightbox='casa-principal')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-principal-0.jpg', alt='Casa principal Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/casa-principal-1.jpg', data-lightbox='casa-principal')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-principal-1.jpg', alt='Casa principal Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/casa-principal-2.jpg', data-lightbox='casa-principal')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-principal-2.jpg', alt='Casa principal Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/casa-principal-3.jpg', data-lightbox='casa-principal')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-principal-3.jpg', alt='Casa principal Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/villa-zeguscua-4.jpg', data-lightbox='casa-principal')
						img.img-thumbnail(src='img/gallery/thumbnail/villa-zeguscua-4.jpg', alt='Casa principal Villa Zeguscua')
						span.overlay
				.clearfix
				.quote
					.quote-icon
						i.fa.fa-quote-left 
					blockquote
						p
							| Tres grandes alcobas con porches y terrazas, 2 baños con iluminación cenital, terrazas y miradores. La caída de la tarde con sus iridiscentes colores y la salida de los astros puede ser observada desde la terraza alta, donde se puede tomar un delicioso coctel. Un sencillo telescopio haría las delicias de los Galileos aficionados en la noche. Aprox. 500m2 con terrazas y porche.
	#separator-3.parallax
		.separator-bg-overlay
			.container
				.row
					.col-md-12
						a.example-image-link(href='img/zeguscua-logo.jpg', data-lightbox='zeguscua-entrada')
							img.visible-md.visible-lg.img-thumbnail.img-responsive.center-block(src='./img/zeguscua-logo-small.jpg', alt='zeguscua entrada')
	.container
		.row
			.col-md-6.about-us
				.about-gallery.mar-top70
					a.example-image-link(href='img/gallery/casa-huespedes-1.jpg', data-lightbox='casa-huespedes')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-huespedes-1.jpg', alt='Casa huespedes Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/casa-huespedes-2.jpg', data-lightbox='casa-huespedes')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-huespedes-2.jpg', alt='Casa huespedes Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/casa-huespedes-3.jpg', data-lightbox='casa-huespedes')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-huespedes-3.jpg', alt='Casa huespedes Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/casa-huespedes-4.jpg', data-lightbox='casa-huespedes')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-huespedes-4.jpg', alt='Casa huespedes Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/casa-huespedes-5.jpg', data-lightbox='casa-huespedes')
						img.img-thumbnail(src='img/gallery/thumbnail/casa-huespedes-5.jpg', alt='Casa huespedes Villa Zeguscua')
						span.overlay
				.quote
					.quote-icon
						span.icon.icon-3
					blockquote
						| Gran Gazebo-Mirador y jardines con un gran asador BBQ,
						p
							| mira sobre la laguna. El más espectacular comedor exterior sobre un 
							| gazebo en una amplia terraza desde donde domina toda la laguna. 
							| Un completo BBQ le permite atender asados grandes. 50 m2.
			.col-md-6.about-us
				.quote.mar-top50
					.quote-icon
						span.icon.icon-2
					blockquote
						| Casa Huéspedes,
						p
							| sobrio y contemporáneo estilo Moderno tipo gran loft, Cocina general full 
							| dotación, sala-comedor, 2 alcobas, una con porche independiente, 1 gran baño. 
							| Está rodeado de espejos de agua y muros con fuentes.
						p
							| Aprox. 198m2. Terrazas 120m2.
				.about-gallery
					a.example-image-link(href='img/gallery/laguna-ubaque-9.jpg', data-lightbox='gazebo')
						img.img-thumbnail(src='img/gallery/thumbnail/laguna-ubaque-9.jpg', alt='Gazebo-Mirador BBQ Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/gazebo-2.jpg', data-lightbox='gazebo')
						img.img-thumbnail(src='img/gallery/thumbnail/gazebo-2.jpg', alt='Gazebo-Mirador BBQ Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/gazebo-3.jpg', data-lightbox='gazebo')
						img.img-thumbnail(src='img/gallery/thumbnail/gazebo-3.jpg', alt='Gazebo-Mirador BBQ Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/gazebo-5.jpg', data-lightbox='gazebo')
						img.img-thumbnail(src='img/gallery/thumbnail/gazebo-5.jpg', alt='Gazebo-Mirador BBQ Villa Zeguscua')
						span.overlay
		.row
			.col-md-6.about-us
				.about-gallery.mar-top50
					a.example-image-link(href='img/gallery/gimnasio-1.jpg', data-lightbox='gimnasio')
						img.img-thumbnail(src='img/gallery/thumbnail/gimnasio-1.jpg', alt='Gimnasio Jacuzzi Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/gimnasio-2.jpg', data-lightbox='gimnasio')
						img.img-thumbnail(src='img/gallery/thumbnail/gimnasio-2.jpg', alt='Gimnasio Jacuzzi Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/gimnasio-3.jpg', data-lightbox='gimnasio')
						img.img-thumbnail(src='img/gallery/thumbnail/gimnasio-3.jpg', alt='Gimnasio Jacuzzi Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/gimnasio-4.jpg', data-lightbox='gimnasio')
						img.img-thumbnail(src='img/gallery/thumbnail/gimnasio-4.jpg', alt='Gimnasio Jacuzzi Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/gimnasio-5.jpg', data-lightbox='gimnasio')
						img.img-thumbnail(src='img/gallery/thumbnail/gimnasio-5.jpg', alt='Gimnasio Jacuzzi Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/gimnasio-6.jpg', data-lightbox='gimnasio')
						img.img-thumbnail(src='img/gallery/thumbnail/gimnasio-6.jpg', alt='Gimnasio Jacuzzi Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/gimnasio-7.jpg', data-lightbox='gimnasio')
						img.img-thumbnail(src='img/gallery/thumbnail/gimnasio-7.jpg', alt='Gimnasio Jacuzzi Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/gimnasio-8.jpg', data-lightbox='gimnasio')
						img.img-thumbnail(src='img/gallery/thumbnail/gimnasio-8.jpg', alt='Gimnasio Jacuzzi Villa Zeguscua')
						span.overlay
					
			.col-md-6.about-us
				.quote
					.quote-icon
						span.icon.icon-4
					blockquote
						| Casa con gimnasio completo y Jacuzzi, 
						p
							| con marquesina de vidrio y con deck de madera voladizo sobre el bosque.
							| Es una estructura independiente. Alberga "La Terma de Zeguscua", 
							| un baño spa de agua caliente. Un BBQ externo le permitirá
							| realizar exquisitos asados. Una cafetería con un delicioso comedor 
							| exterior completa el conjunto. Aprox. 60 m2.
				.quote
					.quote-icon
						span.icon.icon-5
					blockquote
						| Embarcadero, 
						p
							| cerrado y con terraza sobre la laguna con bicicleta acuática. Aprox 35m2
				.quote
					.quote-icon
						span.icon.icon-6
					blockquote
						| Tres Gazebos, 
						p
							| metálicos sobre los jardines. Aprox. 15m2
		.row
			.col-md-6.about-us
				.quote
					.quote-icon
						span.icon.icon-7
					blockquote
						| Apartamento independiente, 
						p
							| Tipo loft, 1 baño. Domina sobre todo el conjunto. Aprox. 26m2
				.quote
					.quote-icon
						span.icon.icon-8
					blockquote
						| Zona de ropas y depósitos, 
						p
							| Aprox. 36m2
				.quote
					.quote-icon
						span.icon.icon-9
					blockquote
						p
							| En construcción una segunda casa de huéspedes con áreas comunes y 
							| 2 alcobas cuya infraestructura hidráulica y eléctrica ya se
							| encuentra instaladas, localizada sobre un enorme hemiciclo-fuente. 
							| Toda la plataforma afirmada con bellos muros de piedra de 100mx15m 
							| lista para cualquier intervención. Aprox 500 m2 en un 50% de obra.
			.col-md-6.about-us
				.about-gallery.mar-top50
					a.example-image-link(href='img/gallery/apartamento-1.jpg', data-lightbox='apartamento')
						img.img-thumbnail(src='img/gallery/thumbnail/apartamento-1.jpg', alt='apartamento Jacuzzi Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/apartamento-2.jpg', data-lightbox='apartamento')
						img.img-thumbnail(src='img/gallery/thumbnail/apartamento-2.jpg', alt='apartamento Jacuzzi Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/villa-zeguscua-3.jpg', data-lightbox='apartamento')
						img.img-thumbnail(src='img/gallery/thumbnail/villa-zeguscua-3.jpg', alt='apartamento Jacuzzi Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/apartamento-4.jpg', data-lightbox='apartamento')
						img.img-thumbnail(src='img/gallery/thumbnail/apartamento-4.jpg', alt='apartamento Jacuzzi Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/apartamento-5.jpg', data-lightbox='apartamento')
						img.img-thumbnail(src='img/gallery/thumbnail/apartamento-5.jpg', alt='apartamento Jacuzzi Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/apartamento-6.jpg', data-lightbox='apartamento')
						img.img-thumbnail(src='img/gallery/thumbnail/apartamento-6.jpg', alt='apartamento Jacuzzi Villa Zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/apartamento-7.jpg', data-lightbox='apartamento')
						img.img-thumbnail(src='img/gallery/thumbnail/apartamento-7.jpg', alt='apartamento Jacuzzi Villa Zeguscua')
						span.overlay


