section#zeguscua.about
	.container
		.row
			.col-md-6.about-us
				h2.about-us
					span Zeguscua
				p 
					| Significa 
					mark 
						em murmullo del agua 
					| en vocablo indígena, no es una finca en el sentido 
					| tradicional. Está diseñada sobre las faldas de la laguna y la componen varias 
					| casas y diferentes estructuras de variados usos: Casa de huéspedes, cocinas y 
					| comedores externos, estudios, miradores y merendeaderos externos, gimnasio y 
					| Jacuzzi, hemiciclos y teatros griegos y bancas, gazebos, espacios múltiples y 
					| zonas verdes incluyendo un divertido 
					mark 
						em Giardino Barroquetto, 
					| una folie al estilo de los jardines italianos y un embarcadero de 2 pisos 
					| sobre la laguna, con bicicleta acuática.

				.about-gallery
					a.example-image-link(href='img/gallery/villa-zeguscua-1.jpg', data-lightbox='zeguscua')
						img.img-thumbnail(src='img/gallery/thumbnail/villa-zeguscua-1.jpg', alt='villa zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/villa-zeguscua-2.jpg', data-lightbox='zeguscua')
						img.img-thumbnail(src='img/gallery/thumbnail/villa-zeguscua-2.jpg', alt='villa zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/villa-zeguscua-3.jpg', data-lightbox='zeguscua')
						img.img-thumbnail(src='img/gallery/thumbnail/villa-zeguscua-3.jpg', alt='villa zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/villa-zeguscua-4.jpg', data-lightbox='zeguscua')
						img.img-thumbnail(src='img/gallery/thumbnail/villa-zeguscua-4.jpg', alt='villa zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/villa-zeguscua-5.jpg', data-lightbox='zeguscua')
						img.img-thumbnail(src='img/gallery/thumbnail/villa-zeguscua-5.jpg', alt='villa zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/villa-zeguscua-6.jpg', data-lightbox='zeguscua')
						img.img-thumbnail(src='img/gallery/thumbnail/villa-zeguscua-6.jpg', alt='villa zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/villa-zeguscua-7.jpg', data-lightbox='zeguscua')
						img.img-thumbnail(src='img/gallery/thumbnail/villa-zeguscua-7.jpg', alt='villa zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/villa-zeguscua-8.jpg', data-lightbox='zeguscua')
						img.img-thumbnail(src='img/gallery/thumbnail/villa-zeguscua-8.jpg', alt='villa zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/villa-zeguscua-9.jpg', data-lightbox='zeguscua')
						img.img-thumbnail(src='img/gallery/thumbnail/villa-zeguscua-9.jpg', alt='villa zeguscua')
						span.overlay
					a.example-image-link(href='img/gallery/villa-zeguscua-10.jpg', data-lightbox='zeguscua')
						img.img-thumbnail(src='img/gallery/thumbnail/villa-zeguscua-10.jpg', alt='villa zeguscua')
						span.overlay
				.clearfix
			.col-md-6.about-us
				p
					| Todas estas estructuras variadas de 
					mark 
						em Zeguscua 
					| se interrelacionan y articulan a través de una enorme red de caminos entabletados 
					| formando grandes terrazas con formidables muros en piedra, rodeados de jardines y 
					| espejos de agua llenos de bellos nenúfares y enormes Goldfi sh y Kois, tomas de 
					| agua en cascadas y fuentes sobre un interesante y variado terreno totalmente 
					| sembrado de bosques naturales de especies nativas de arrayanes, lacres y jazmines 
					| y plantas de flores de heliconias, bromelias, sietecueros y lirios y muchas otras, 
					| sembradas durante un período de 32 años. El terreno consta de 2 hectáreas.
				p
					| La Laguna del Gran Cacique de Ubaque es una de las 6 lagunas rituales de los 
					| Chibchas y una de las balsas de oro del Museo del Oro fue hallada aquí. 
					| Sobre la Laguna se ha construido una pequeña marina que alberga el 
					mark 
						em vaporeto 
					| (la ecológica bicicleta acuática) llamados así por el 
					mark 
						em vapor 
					| que genera el ejercicio de su navegación o pueden probar suerte con algunos 
					| de los peces de la laguna.
				p
					| También, si lo desea, se puede nadar en las tranquilas aguas de la laguna. 
					| Es por todo esto que 
					mark 
						em Zeguscua 
					| es considerada una reinterpretación arquitectónica de una villa 
					| italiana clásica en el trópico.
				