@import bootstrap

@import './includes/settings.css'
@import './includes/rs-responsive.css'
@import './includes/custom.css'
@import './includes/css3-menu.css'
@import './includes/isotope.css'
@import './includes/color_scheme.css'

